.checkout {
  display: flex;
  padding: 1.25em;
  gap: 1em;
  min-height: 90vh;
}

.checkout > * {
  background: white;
}

.checkout__left {
  margin-top: 1em;
}

.checkout__right {
  height: fit-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 1em;
}

.checkout__header {
  margin: .5em 1em;
  padding-bottom: 1em;
  border-bottom: 0.05em solid #d3d3d3;
}


.checkout__header > button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: rgb(82,146,163);
}

.checkout__header > button:hover {
  text-decoration: underline;
  color: rgb(180, 120, 30);
}

.checkout__title {
  font-size: 1.75em;
}

.checkout__productImg img {
  height: 100%;
}

@media screen and (max-width: 840px) {
  .checkout__right {
    position: sticky;
    top: -4em;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.16);
  }
  .checkout {
    flex-direction: column-reverse;
  }

  .checkout__left {
    margin-bottom: auto;
  }
  .checkout__title {
    font-size: 1.5em;
  }
}