.header__container {
  display: flex;
  align-items: center;
  background: rgb(19,25,33);
  font-size: 1.05em;
  padding: .25em 1em;

  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo-link {
  margin-right: 1rem;
}

.header__toggleOpen {
  color: white;
  font-size: 2.25rem;
  margin-right: .5rem;
  display: grid;
}

.header__mobileUser {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.5rem;
}

.header__mobileUserName {
  font-size: .75em;
}

.header__mobileUserIcon {
  font-size: 2em;
}

.header__logo:hover, .header__option:hover, .header__optionBasket:hover, .header__mobileUser:hover {
  box-shadow: 0 0 0 .075em #ddd;
}

.header__container a {
  text-decoration: none;
}

.header__search {
  font-size: 1.25em;
  display: flex;
  flex: 1;
  margin-right: .5em;

  --border-radius: .5rem;
}

.header__searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: .8em;
  padding: .35em;

  
  border-start-start-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}

.header__searchIcon {
  background: rgb(254,189,104);
  padding: .255em;
  display: flex;

  border-start-end-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}

.header__searchIcon > * {
  font-size: 1.25em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__option {
  display: flex;
  flex-direction: column;
  
  color: rgb(255, 255, 255);
  padding: .25em 1em;
}

.header__optionOne {
  font-size: .7em;
}

.header__optionImg {
  padding: .15em;
  width: 2em;
  object-fit: contain;
}

.header__optionTwo {
  font-size: .9em;
  font-weight: 700;
}

.header__optionBasket {
  font-size: .9em;
  display: flex;
  align-items: flex-end;
  padding: .5em;
}
.header__optionBasket > div {
  position: relative;
  font-size: .9em;
}
.header__optionBasketCount {
  position: absolute;
  transform: translateX(-40%);
  left: 50%;
  top: -15%;
  font-size: 1.1em;
  color: #f08806;
}
.header__optionBasket > span {
  height: min-content;
  color: white;
}
.header__basket {
  width: 3em;
  filter: invert(1);
}

.header__mobileNav {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;
}

.header__mobileNav.active {
  opacity: 1;
  pointer-events: all;
}

.header__mobileNavContainer.active {
  transform: translateX(0);
}

.header__mobileNavContainer {
  flex: 0.8;
  height: 100%;
  background: white;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: transform .25s ease-out;
}

.header__toggleClose {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex: 0.2;
  transform: translateX(100%);
  transition: transform .25s ease-out;
}

.header__toggleClose.active {
  transform: translateX(0);
}

.header__toggleClose > * {
  color: white;
  font-size: 2em;
}

.header__mobileNavHeader {
  background: #222f3e;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
}

.header__mobileNavUser {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__mobileNavUser :nth-child(2) {
  font-size: 2em;
}

.header__mobileNavHeader > p {
  font-size: 1.75em;
}

.header__mobileNavHeader > p > span {
  font-size: 0.75em;
}

.header__mobileNavItems {
  width: 100%;
  height: 100%;
  background: #c9c9c9;
  padding: 0;
  display: flex;
  gap: .35em;
  flex-direction: column;
  padding-bottom: .5em;
}

.header__mobileNavItem {
  color: #222f3e;
  padding: 1em;
  background: white;
}

.header__mobileNavItem:first-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__mobileNavItem:first-child .header__optionOne {
  font-size: 1.5em;
  font-weight: 700;
}

@media screen and (max-width: 840px) {
  .header {
    font-size: clamp(.7em, 4vw, 1em);
  }
  
  .header__container, .header__mobileContainer {
    background: #222f3e;
  }

  .header__mobileContainer {
    padding: .25rem 1rem;
    font-size: 1.25em;
    display: flex;
    width: 100%;
  }

  .header__search {
    margin: 0;
  }

  .header__nav {
    margin-left: auto;
  }
  .header__option {
    margin: 0;
  }

  .header__optionOne {
    font-size: 1em;
  }
  .header__optionTwo {
    font-size: 1.5em;
  }  
}