.home {
  display: flex;
  justify-content: center;

  max-width: 100em;
  margin-inline: auto;
}

.home__row {
  display: flex;
  gap: 1em;
  width: calc(100vw - 1em);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-inline: .5em;
  margin-bottom: 1em;

  overflow-x: scroll;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -15em;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), 75%, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 840px) {
  
  .home__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .home__image {
    margin-bottom: -20px;
  }

  .home__row {
    gap: .5em;
    background: white;
    margin-inline: 0;
    min-width: 100%;
    margin-bottom: .5em;
  }
}