.payment {
  background-color: #fff;
}

.payment__container > h1 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 1em;
  gap: 1em;
}

.payment__title {
  flex: 0.2;
}

.payment__items, .payment__address, .payment__details {
  flex: 0.8;
}