.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px 10px 15px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.header__searchInput {
  height: 18px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 7px;
  height: 22px;
  background-color: #febd69;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-weight: 600;
  font-size: .7em;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 700;
}

.header__Cart {
  color: white;
}

.header__optionBasket {
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__CartCount {

  font-size: 18px;
  font-weight: 700;
  color: #cd9042;
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 70px;
    margin: 10% 10px 10px 15px;
  }

  .header__searchInput {
    height: 12px;
    padding: 10px;
  }
  
  .header__searchIcon {
    padding: 4px;
    height: 22px;
    background-color: #febd69;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: 60px;
    margin: 10% 10px 10px 15px;
  }

  .header__option {
    margin-left: 5px;
    margin-right: 5px;
  }

  .header__optionLineOne {
    font-weight: 500;
    font-size: .6em;
  }
  
  .header__optionLineTwo {
    font-size: .8em;
    font-weight: 500;
  }
}