.home {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 1500px;
}

.home__row {
  padding-inline: 10px;
  display: flex;
  z-index: 1;
  gap: 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), 80%, rgb(0, 0, 0, 0));
}